@keyframes slideFromTop {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideFromTop {
  animation: slideFromTop 0.4s ease-in-out forwards;
}
