@tailwind base;
:root {
  --primary: #7c3aed;
  --scroolbar-primary: #eeeeee80;
  --scrollbar-secondary: #3e3e3e50;
}
[data-white] {
  --scroolbar-primary: #eeeeee80;
  --scrollbar-secondary: #33333320;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-secondary) var(--scroolbar-primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--scroolbar-primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-secondary);
  border-radius: 14px;
  border: 3px solid var(--scroolbar-primary);
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-cover {
    background-size: cover !important;
  }
  .text-primary {
    color: var(--primary) !important;
  }
  .bg-primary {
    background-color: var(--primary) !important;
    background-opacity: var(--tw-bg-opacity);
  }
  .border-primary {
    border-color: var(--primary) !important;
    border-opacity: var(--tw-border-opacity);
  }
  .custom-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}

html {
  font-size: 14px !important;
}

.note-list-container {
  @apply fixed inset-0 min-h-screen w-screen text-left overflow-y-auto py-24;
}
.custom-ul {
  white-space: pre-line;
}
.custom-ul ul {
  list-style: circle;
  padding-left: 1rem;
}
.custom-ul blockquote {
  display: block;
  color: gray;
  padding: 4px;
  padding-left: 6px;
  margin: 4px 0;
  border-radius: 4px;
  border-left: 4px solid purple;
}

.note-items {
  max-width: 90%;
  gap: 20px;
  column-rule: 5px transparent;
  padding: 0;
  column-count: 5;
  margin: 20px auto;
}
.note-item {
  width: 100%;
  break-inside: avoid;
}

@media screen and (max-width: 1600px) {
  .note-items {
    column-count: 4;
  }
}

@media screen and (max-width: 1200px) {
  .note-items {
    column-count: 3;
  }
}

@media screen and (max-width: 900px) {
  .note-items {
    column-count: 2;
  }
}

.hover-bookmark {
  transition: all 0.3s;
  transform: scale(1);
  transform-origin: center;
  cursor: pointer;
}
.hover-bookmark:hover {
  transform: scale(1.4) translateY(-6px);
  background-opacity: 1;
}
.hover-bookmark[data-bookmarks]:hover::after {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 50%;
  background-color: var(--primary, black);
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.hover-bookmark-aside {
  transform: scale(1) !important;
}
