@tailwind base;
:root {
  --primary: #7c3aed;
  --scroolbar-primary: #eeeeee80;
  --scrollbar-secondary: #3e3e3e50;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-secondary) var(--scroolbar-primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--scroolbar-primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-secondary);
  border-radius: 14px;
  border: 3px solid var(--scroolbar-primary);
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-cover {
    background-size: cover !important;
  }
  .text-primary {
    color: var(--primary) !important;
  }
  .bg-primary {
    background-color: var(--primary) !important;
    background-opacity: var(--tw-bg-opacity);
  }
  .border-primary {
    border-color: var(--primary) !important;
    border-opacity: var(--tw-border-opacity);
  }
  .custom-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}

html {
  font-size: 14px !important;
}
